@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  /* border: 1px solid #df0707; */
  /* для розуміння позицююванян елементів */
  box-sizing: border-box;
  /* щоб елементи не виходили за рам */
}

h1 {
  font-size: 36px;
  line-height: 49px;
}

h2 {
  font-size: 18px;
  line-height: 25px;
}

h4 {
  font-size: 16px;
  line-height: 21px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
  color: #f4f4f4;
  background: url(/img/bcg/bcg360.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0c171b;
  hyphens: auto;
}

@media (min-width: 576px) and (max-width: 1440px) {
  body {
    font-family: "Nunito Sans";
    color: #f4f4f4;
    background: url(/img/bcg/bcg1440.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0f1d21;
    hyphens: auto;
  }
}

@media (min-width: 1440px)  {
  body {
    font-family: "Nunito Sans";
    color: #f4f4f4;
    background: url(/img/bcg/bcg1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0f1d21;
    hyphens: auto;
  }
}

.container {
  margin: 10px 20px 0px 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  /* height: 51px; */
}

.logo {
  display: flex;
}
.logo__link {
  display: flex;
}
.logo__link__logo {
  height: 36px;
}
.logo__link__brandname {
  width: 86px;
}
.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.menu__icon {
  margin: 0px 10px;
}
.menu__icon__img {
  height: 16px;
}

.section__h {
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  hyphens: auto;
}

.section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  color: #f4f4f4;
}

.wristwatch__img {
  display: flex;
  justify-content: space-between;
  /* justify-content:space-around; */
}

.wristwatch__main img {
  max-height: 240px;
}

.wristwatch__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: scaleX(-1);
}

.wristwatch__list img {
  height: 66px;
}


.section__button{
    display: flex;
    justify-content: space-around;
    color: darkblue; /* Прозорий фон */
}

.button {
  display: inline-block;
  position: relative;
  
 
  border-bottom: 48px solid #12b0b9;
  /* border-left: 50px solid transparent; */
  border-right: 170px solid transparent;
  height: 50px;
  width: 100%;
  border-radius: 0% 0% 100% 10% / 1% 10% 1% 50%;
  background-color: transparent; /* Прозорий фон */

}





.button__left{
left: 85px;
transform: scaley(-1);
z-index: 1;
background-color: transparent;
}

.button__right{
  right: 85px;
  transform: scalex(-1);
}

.button:active {
    background-color: #0056b3; /* Колір при активному стані (натисканні) */
}







/* анімація 
 */

/* gift {
    position: relative;
  }
  .box, .bottom, .lid {
    position: absolute;
    top: 100;
    left: 0;
  }

  
.lid {
   Початкові значення для анімації 
  transform-origin: top center;
  transform: scaleY(1);
  opacity: 1;
  Час та тип анімації 
  transition: transform 1s ease, opacity 1s ease;
}

.open {
   Кінцеві значення для анімації 
  transform: scaleY(0);
  opacity: 0;
} */
